---
---

@import "variables";
@import "{{ site.theme }}";

  @font-face {  
    font-family: 'fmFont';  
    src: url('/assets/fonts/FMReview-Regular-Web.woff2') format('woff2'),  
         url('/assets/fonts/FMReview-Regular-Web.woff') format('woff');  
    font-weight: normal;  
    font-style: normal;  
  }  

h1 {  
    font-family: 'fmFont', sans-serif;  
    font-weight: bold;  
    color: $primary_color;
  }  

body{
  font-family: 'fmFont', sans-serif;
  font-weight: normal;
  color: $primary_color;
}

header {
    background-color: $primary_color;
    font-family: 'fmFont', sans-serif;  
    font-weight: bold;  
  }

header#banner {
    background-color: $primary_color;
}

#header_wrap {
    background: $primary_color;
    background: -moz-linear-gradient(top, $primary_color, $primary_color);
    background: -webkit-linear-gradient(top,$primary_color, $primary_color);
    background: -ms-linear-gradient(top, $primary_color, $primary_color);
    background: -o-linear-gradient(top, $primary_color, $primary_color);
    background: linear-gradient(to top,$primary_color, $primary_color);
  }

/* Custom CSS */  
.button {  
    display: inline-block;  
    font-family: 'fmFont', sans-serif;  
    font-weight: bold;  
    text-align: center;  
    text-decoration: none;  
    background-color: $primary_color;  
    color: $splash_color;  
    padding: 10px 20px;  
    border-radius: 4px;  
    cursor: pointer;  
    transition: background-color 0.3s;  
  }

  .gray-button {  
    display: inline-block;  
    font-family: 'fmFont', sans-serif;  
    font-weight: bold;  
    text-align: center;  
    text-decoration: none;  
    background-color: $not_available_color;  
    color: #ffffff;  
    padding: 10px 20px;  
    border-radius: 4px;  
    cursor: pointer;  
    transition: background-color 0.3s;  
  }  
    
  .button:hover {  
    background-color: darken($primary_color, 10%);  
  }  


  .button-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }



  #project_title {  
    color: $splash_color; 
  }  
